.noscroll {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 20;
    visibility: hidden;
    -webkit-font-smoothing: antialiased;
}

.wrap {
    display: block;
    width: 80%;
    /*max-width: 740px;*/
    margin: 120px auto 0;
}

.close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 36px;
}
.label {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 48px;
}

/* MENU */
.nav {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    color: white;
    font-size: 33px;
    z-index: 10;
}
.nav .nav-el {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: 0;

    background-color: #2980b9;
    transition: background-color .3s ease-in;
    -moz-transition: background-color .3s ease-in;
    -webkit-transition: background-color .3s ease-in;
}
.nav-el:nth-of-type(4n-3) {
    top: calc(45% - 210px);
    left: calc(50% - 210px);
}
.nav-el:nth-of-type(4n-2) {
    top: calc(45% - 210px);
    left: calc(50% + 10px);
}
.nav-el:nth-of-type(4n-1) {
    top: calc(45% + 10px);
    left: calc(50% - 210px);
}
.nav-el:nth-of-type(4n) {
    top: calc(45% + 10px);
    left: calc(50% + 10px);
}
.nav-el .title {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    padding: 15px;
    font-size: 18px;
    color: white;
    display: none;
}
.nav-el.active {
    z-index: 11;
}
.nav-el:hover, .nav-el.active {
    background: #20638f;
    color: #2980b9;
}
.nav-el:hover .title {
    display: block;
}
.nav-el [class^="ims-"], .nav-el [class*=" ims-"] {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 0;
    margin-left: -0.5em;
}
.nav-el.inactive {
    pointer-events: none;
    cursor: default;
}

/* Space adjustment  */
@media only screen and (min-width: 520px) {
    .nav {
        font-size: 48px;
    }
}
@media only screen and (min-width: 768px) {
    .overlay .wrap {
        position: absolute;
        margin: auto;
        width: 92%;
        top: 80px;
        bottom: 80px;
        left: 50px;
        right: 50px;
        overflow: hidden;
    }
    .overlay .wrap.contact-us {
        right: 150px;
        left: 150px;
        width: 84%;
        padding-bottom: 200px;
    }
}

/* Contacts */
.main-contacts {
    position: fixed;
    bottom:-465px;
    width: 500px;
    left: 0;
    right: 0;
    margin: 0 auto 0 auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    z-index: 50;
}
.main-contacts .main-contacts-footer{
    background-color: #2980b9;
    text-align:center;
    color:#fff;
    height:500px;
    border-radius:1600px;
    margin:0px auto;
    padding:8px 15px;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
}
.main-contacts-footer:hover, .main-contacts-footer.active {
    background-color: #20638f;

    transform: translate(0,-145px);
    -webkit-transform: translate(0,-145px);
    -moz-transform: translate(0,-145px);
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in-out;
}
.main-contacts-footer.active:hover {
    background-color: #2980b9;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}
.main-contacts-footer > div, .main-contacts-footer > h2 {
    display: table;
    margin: auto;
}
.main-contacts .ui-btn{
    font-size:15px;
    line-height:15px;
}
.main-contacts h2{
    font-size:15px;
    line-height:35px;
    text-transform:uppercase;
    color:#fff;
    margin: 2px auto 2px;
}
.main-contacts .details{
    font-size:15px;
    line-height:30px;
}
.main-contacts .details i{
    margin-right:5px;
}
.main-contacts .social{
    margin: 10px auto;
}
.main-contacts .social a i{
    display:inline-block;
    width:25px;
    height:25px;
    text-align:center;
    margin:5px;
    color:#fff;
    font-size:17px;
}
/* Overlay */
.overlay .wrap h1 {
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-size: 36px;
    text-align: left;
}
.wrap p {
    font-size: 17px;
}
.wrap .wrap-main {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    height: 38%;
    overflow: hidden;
}
/*.wrap-main .main-container{*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
.wrap .wrap-main p {
    margin-bottom: 20px;
}
.wrap .wrap-main .header {
    margin: 20px auto 10px auto;
    display: inline-block;
}
.wrap-main .main-container {
    padding-right: 15px;
}

.wrap .wrap-gallery {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3) inset;
}
.wrap .wrap-gallery .gallery-container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.wrap .wrap-gallery .gallery-container .gallery {
    display: inline-block;
    margin: 20px;
}
.gallery-item {
    display: inline-block;
    width: 20%;
    max-width: 285px;
    margin: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}
.gallery-item img {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.gallery-item img:hover {
    opacity: 0.8;
}

.preloader {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
}
.preloader > i {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    font-size: 72px;
    color: black;
}
/* Overlay form */
.input {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 170%;
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    max-width: 350px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    color: #333;
    font-weight: 400;
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #333;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #333;
    font-size: 150%;
}
/* Input style */
.input--nao {
    overflow: hidden;
    padding-top: 1em;
}
.input__field--nao {
    padding: 0.5em 0em 0.25em;
    width: 100%;
    background: transparent;
    color: #fff;
    font-size: 1.25em;
}
.input__label--nao {
    position: absolute;
    top: 0.95em;
    font-size: 0.85em;
    left: 0;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0em;
    pointer-events: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
    transition: transform 0.2s 0.15s, color 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.graphic--nao {
    stroke: #333;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
    transition: transform 0.7s, stroke 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
    color: #fff;
    -webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
    transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}
.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
    stroke: #fff;
    -webkit-transform: translate3d(-66.6%, 0, 0);
    transform: translate3d(-66.6%, 0, 0);
}
fieldset.msg-message {
    padding-top: 50px;
    max-width: 800px;
}
/* Fix block social icons by AdBlock
   Rename icon classes */
.fa-social-1:before {
    /* fa-facebook */
    content: "\f09a";
}
.fa-social-2:before {
    /* fa-twitter */
    content: "\f099";
}
.fa-social-3:before {
    /* fa-youtube */
    content: "\f167";
}